* We have fuel economy data set for cars, you can find more information [here](https://www.epa.gov/compliance-and-fuel-economy-data/data-cars-used-testing-fuel-economy).
* Here we will analyze 2008 and 2018 data, and compare them.

In [248]:
import pandas as pd

In [249]:
df_08 = pd.read_csv("all_alpha_08.csv")

In [250]:
df_18 = pd.read_csv("all_alpha_18.csv")

In [251]:
df_08.head()

,Model,Displ,Cyl,Trans,Drive,Fuel,Sales Area,Stnd,Underhood ID,Veh Class,Air Pollution Score,FE Calc Appr,City MPG,Hwy MPG,Cmb MPG,Unadj Cmb MPG,Greenhouse Gas Score,SmartWay
0,ACURA MDX,3.7,(6 cyl),Auto-S5,4WD,Gasoline,CA,U2,8HNXT03.7PKR,SUV,7,Drv,15,20,17,22.0527,4,no
1,ACURA MDX,3.7,(6 cyl),Auto-S5,4WD,Gasoline,FA,B5,8HNXT03.7PKR,SUV,6,Drv,15,20,17,22.0527,4,no
2,ACURA RDX,2.3,(4 cyl),Auto-S5,4WD,Gasoline,CA,U2,8HNXT02.3DKR,SUV,7,Drv,17,22,19,24.1745,5,no
3,ACURA RDX,2.3,(4 cyl),Auto-S5,4WD,Gasoline,FA,B5,8HNXT02.3DKR,SUV,6,Drv,17,22,19,24.1745,5,no
4,ACURA RL,3.5,(6 cyl),Auto-S5,4WD,Gasoline,CA,U2,8HNXV03.5HKR,midsize car,7,Drv,16,24,19,24.5629,5,no

In [252]:
df_18.head()

,Model,Displ,Cyl,Trans,Drive,Fuel,Cert Region,Stnd,Stnd Description,Underhood ID,Veh Class,Air Pollution Score,City MPG,Hwy MPG,Cmb MPG,Greenhouse Gas Score,SmartWay,Comb CO2
0,ACURA RDX,3.5,6.0,SemiAuto-6,2WD,Gasoline,FA,T3B125,Federal Tier 3 Bin 125,JHNXT03.5GV3,small SUV,3,20,28,23,5,No,386
1,ACURA RDX,3.5,6.0,SemiAuto-6,2WD,Gasoline,CA,U2,California LEV-II ULEV,JHNXT03.5GV3,small SUV,3,20,28,23,5,No,386
2,ACURA RDX,3.5,6.0,SemiAuto-6,4WD,Gasoline,FA,T3B125,Federal Tier 3 Bin 125,JHNXT03.5GV3,small SUV,3,19,27,22,4,No,402
3,ACURA RDX,3.5,6.0,SemiAuto-6,4WD,Gasoline,CA,U2,California LEV-II ULEV,JHNXT03.5GV3,small SUV,3,19,27,22,4,No,402
4,ACURA TLX,2.4,4.0,AMS-8,2WD,Gasoline,CA,L3ULEV125,California LEV-III ULEV125,JHNXV02.4WH3,small car,3,23,33,27,6,No,330

In [253]:
df_08.shape

(2404, 18)

In [254]:
df_18.shape

(1611, 18)

* Initial analysis of data and descriptions leads me to several questions,
    - Are models using alternative source of fuel? how much?
    - How much have vehicle classes improved in fuel economy?
    - What are the characteristics of SmartWay vehicles? [More detail](https://www.epa.gov/greenvehicles/consider-smartway-vehicle)
    - What features are associated with better fuel economy?
    - Does all models of 2008, are still in 2018? What are the improvements in mpg and which vehicles improved the most?

* Let's do primary analysis, duplicate data, data types, missing values, value counts

In [255]:
df_08.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2404 entries, 0 to 2403
Data columns (total 18 columns):
Model                   2404 non-null object
Displ                   2404 non-null float64
Cyl                     2205 non-null object
Trans                   2205 non-null object
Drive                   2311 non-null object
Fuel                    2404 non-null object
Sales Area              2404 non-null object
Stnd                    2404 non-null object
Underhood ID            2404 non-null object
Veh Class               2404 non-null object
Air Pollution Score     2404 non-null object
FE Calc Appr            2205 non-null object
City MPG                2205 non-null object
Hwy MPG                 2205 non-null object
Cmb MPG                 2205 non-null object
Unadj Cmb MPG           2205 non-null float64
Greenhouse Gas Score    2205 non-null object
SmartWay                2404 non-null object
dtypes: float64(2), object(16)
memory usage: 338.1+ KB

In [256]:
df_18.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1611 entries, 0 to 1610
Data columns (total 18 columns):
Model                   1611 non-null object
Displ                   1609 non-null float64
Cyl                     1609 non-null float64
Trans                   1611 non-null object
Drive                   1611 non-null object
Fuel                    1611 non-null object
Cert Region             1611 non-null object
Stnd                    1611 non-null object
Stnd Description        1611 non-null object
Underhood ID            1611 non-null object
Veh Class               1611 non-null object
Air Pollution Score     1611 non-null int64
City MPG                1611 non-null object
Hwy MPG                 1611 non-null object
Cmb MPG                 1611 non-null object
Greenhouse Gas Score    1611 non-null int64
SmartWay                1611 non-null object
Comb CO2                1611 non-null object
dtypes: float64(2), int64(2), object(14)
memory usage: 226.6+ KB

In [257]:
sum(df_08.duplicated())

25

In [258]:
sum(df_18.duplicated())

0

In [259]:
df_08['SmartWay'].unique()

array(['no', 'yes'], dtype=object)

In [260]:
df_18['SmartWay'].unique()

array(['No', 'Yes', 'Elite'], dtype=object)

In [261]:
df_08['Sales Area'].unique()

array(['CA', 'FA', 'FC'], dtype=object)

In [262]:
df_18['Cert Region'].unique()

array(['FA', 'CA'], dtype=object)

In [263]:
df_08['Trans'].unique()

array(['Auto-S5', 'Man-6', 'Auto-S6', 'Auto-AV', 'Auto-S7', 'Auto-L4',
       'Auto-L6', 'Auto-4', 'Man-5', 'Auto-L5', nan, 'Auto-6', 'S8',
       'Auto-S4', 'Auto-L7'], dtype=object)

In [264]:
df_08['Cyl'].unique()

array(['(6 cyl)', '(4 cyl)', '(12 cyl)', '(8 cyl)', '(10 cyl)',
       '(16 cyl)', '(5 cyl)', nan, '(2 cyl)'], dtype=object)

In [265]:
df_18['Cyl'].unique()

array([ 6.,  4.,  5., 12., 16.,  8., nan,  3.])

In [266]:
df_08['Fuel'].unique()

array(['Gasoline', 'ethanol/gas', 'ethanol', 'diesel', 'CNG'],
      dtype=object)

In [267]:
df_18['Fuel'].unique()

array(['Gasoline', 'Gasoline/Electricity', 'Diesel', 'Ethanol/Gas',
       'Electricity'], dtype=object)

### Drop non relevant features

* Some of the feature are not needed for our analysis, for example
    - in 2008 data set : 'Stnd', 'Underhood ID', 'FE Calc Appr', 'Unadj Cmb MPG'
    - in 2018 data set : 'Stnd', 'Stnd Description', 'Underhood ID', 'Comb CO2'

In [268]:
df_08.drop(['Stnd', 'Underhood ID', 'FE Calc Appr', 'Unadj Cmb MPG'], axis=1, inplace=True)

In [269]:
df_18.drop(['Stnd', 'Stnd Description', 'Underhood ID', 'Comb CO2'], axis=1, inplace=True)

### Clean up column names

In [270]:
df_08.rename(columns={'Sales Area':'Cert Region'}, inplace=True)

In [271]:
df_08.columns

Index(['Model', 'Displ', 'Cyl', 'Trans', 'Drive', 'Fuel', 'Cert Region',
       'Veh Class', 'Air Pollution Score', 'City MPG', 'Hwy MPG', 'Cmb MPG',
       'Greenhouse Gas Score', 'SmartWay'],
      dtype='object')

In [272]:
df_18.columns

Index(['Model', 'Displ', 'Cyl', 'Trans', 'Drive', 'Fuel', 'Cert Region',
       'Veh Class', 'Air Pollution Score', 'City MPG', 'Hwy MPG', 'Cmb MPG',
       'Greenhouse Gas Score', 'SmartWay'],
      dtype='object')

In [273]:
df_08.rename(columns=lambda x:x.strip().lower().replace(" ", "_"), inplace=True)

In [274]:
df_18.rename(columns=lambda x:x.strip().lower().replace(" ", "_"), inplace=True)

In [275]:
df_08.columns

Index(['model', 'displ', 'cyl', 'trans', 'drive', 'fuel', 'cert_region',
       'veh_class', 'air_pollution_score', 'city_mpg', 'hwy_mpg', 'cmb_mpg',
       'greenhouse_gas_score', 'smartway'],
      dtype='object')

In [276]:
df_18.columns

Index(['model', 'displ', 'cyl', 'trans', 'drive', 'fuel', 'cert_region',
       'veh_class', 'air_pollution_score', 'city_mpg', 'hwy_mpg', 'cmb_mpg',
       'greenhouse_gas_score', 'smartway'],
      dtype='object')

In [277]:
(df_08.columns == df_18.columns).all()

True

* Cool, for both data set columns are equal.

* I am only interested in cars certified in California, meaning filter `cert_region` == `CA`.

In [278]:
df_08 = df_08.query("cert_region == 'CA'")

In [279]:
df_18 = df_18.query("cert_region == 'CA'")

* Ok, so we know that now in `cert_region` there is only 'CA', so we can remove it.

In [280]:
df_08.drop('cert_region', inplace=True, axis=1)

In [281]:
df_18.drop('cert_region', inplace=True, axis=1)

In [282]:
df_08.shape

(1084, 13)

In [283]:
df_18.shape

(798, 13)

* Let's drop rows with missing values and duplicates.

In [284]:
df_08.dropna(inplace=True)
df_18.dropna(inplace=True)

In [285]:
df_08.isna().sum().any()

False

In [286]:
df_18.isna().sum().any()

False

In [287]:
df_08.shape

(1009, 13)

In [288]:
df_18.shape

(797, 13)

In [289]:
df_08.duplicated().sum()

23

In [290]:
df_18.duplicated().sum()

3

In [291]:
df_08.drop_duplicates(inplace=True)
df_18.drop_duplicates(inplace=True)

In [292]:
df_08.shape

(986, 13)

In [293]:
df_18.shape

(794, 13)

In [294]:
df_08.duplicated().sum()

0

In [295]:
df_18.duplicated().sum()

0

### Clean up data types

In [296]:
df_08.head()

,model,displ,cyl,trans,drive,fuel,veh_class,air_pollution_score,city_mpg,hwy_mpg,cmb_mpg,greenhouse_gas_score,smartway
0,ACURA MDX,3.7,(6 cyl),Auto-S5,4WD,Gasoline,SUV,7,15,20,17,4,no
2,ACURA RDX,2.3,(4 cyl),Auto-S5,4WD,Gasoline,SUV,7,17,22,19,5,no
4,ACURA RL,3.5,(6 cyl),Auto-S5,4WD,Gasoline,midsize car,7,16,24,19,5,no
6,ACURA TL,3.2,(6 cyl),Auto-S5,2WD,Gasoline,midsize car,7,18,26,21,6,yes
7,ACURA TL,3.5,(6 cyl),Auto-S5,2WD,Gasoline,midsize car,7,17,26,20,6,yes

In [297]:
df_08.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 986 entries, 0 to 2400
Data columns (total 13 columns):
model                   986 non-null object
displ                   986 non-null float64
cyl                     986 non-null object
trans                   986 non-null object
drive                   986 non-null object
fuel                    986 non-null object
veh_class               986 non-null object
air_pollution_score     986 non-null object
city_mpg                986 non-null object
hwy_mpg                 986 non-null object
cmb_mpg                 986 non-null object
greenhouse_gas_score    986 non-null object
smartway                986 non-null object
dtypes: float64(1), object(12)
memory usage: 107.8+ KB

In [298]:
df_18.head()

,model,displ,cyl,trans,drive,fuel,veh_class,air_pollution_score,city_mpg,hwy_mpg,cmb_mpg,greenhouse_gas_score,smartway
1,ACURA RDX,3.5,6.0,SemiAuto-6,2WD,Gasoline,small SUV,3,20,28,23,5,No
3,ACURA RDX,3.5,6.0,SemiAuto-6,4WD,Gasoline,small SUV,3,19,27,22,4,No
4,ACURA TLX,2.4,4.0,AMS-8,2WD,Gasoline,small car,3,23,33,27,6,No
6,ACURA TLX,3.5,6.0,SemiAuto-9,2WD,Gasoline,small car,3,20,32,24,5,No
8,ACURA TLX,3.5,6.0,SemiAuto-9,4WD,Gasoline,small car,3,21,30,24,5,No

In [299]:
df_18.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 794 entries, 1 to 1609
Data columns (total 13 columns):
model                   794 non-null object
displ                   794 non-null float64
cyl                     794 non-null float64
trans                   794 non-null object
drive                   794 non-null object
fuel                    794 non-null object
veh_class               794 non-null object
air_pollution_score     794 non-null int64
city_mpg                794 non-null object
hwy_mpg                 794 non-null object
cmb_mpg                 794 non-null object
greenhouse_gas_score    794 non-null int64
smartway                794 non-null object
dtypes: float64(2), int64(2), object(9)
memory usage: 86.8+ KB

* We will clean up `cyl` in `df_08`. Convert the same column in 2018 data set to int.
* Change type of `air_pollution_score` in `df_08`.
* Change type of `city_mpg `, `hwy_mpg`, `cmb_mpg`, `greenhouse_gas_score` to numeric in respective data sets.

In [301]:
df_08.cyl = df_08.cyl.str.extract('(\d+)').astype(int)

In [302]:
df_08.cyl.dtype

dtype('int32')

In [303]:
df_18.cyl = df_18.cyl.astype(int)

In [304]:
df_18.cyl.dtype

dtype('int32')

In [305]:
df_18.air_pollution_score = df_18.air_pollution_score.astype(float)

In [306]:
df_08.air_pollution_score.unique()

array(['7', '6', '9.5', '9', '6/4'], dtype=object)

* Hmmm, interesting so we will have to clean up `6/4`. But what it is stands for? What is special about it?